{{ define "main" }}
  <article class="container single-page">
    <header class="page-heading">
      <h1>{{ .Title }}</h1>
      {{ with .Params.description }}<p class="page-description">{{ . }}</p>{{ end }}
    </header>
    <div class="content-block">
      {{ .Content }}
    </div>
    <div class="articles-list">
      {{ range .Pages.ByTitle }}
        <article class="article-item">
          <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
          {{ .Summary }} <a href="{{ .RelPermalink }}">читать дальше</a>
        </article>
      {{ end }}
    </div>
  </article>
{{ end }}
